
circle{
    fill-opacity: .9;
}
line{
    stroke:#909090;
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .2;
}

/* #mainContainer {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    display: flex;
    padding: 20px;
    border-radius: 15px;
} */

#topContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.controller {
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

#tooltip {
    width: 70vw;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    height: auto;
    font-size: x-large;
}

#leftPanel {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    height: auto;
}

label {
    margin-bottom: 5px;
    font-weight: normal;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}